body {
  font-size: 16px;
  color: #a28b39;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

* {
  box-sizing: border-box;
}

.navbar-brand {
  padding-top: 1px;
  border: none;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-right: auto;
}

.dropdown {
  position: relative;
}

.display-4 {
  color: #000000;
}

/* Style the active class (and buttons on mouse-over) */
.active, .nav-item:hover {
  background-color: #a28b39;
  opacity: 0.9;
  box-shadow: 1px 1px 3px 1px #cccccc;
}

img {
  text-align: center;
  background-image: center;
  object-position: center;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.row .content {
  position: absolute;  /*Position the background text*/ 
  vertical-align: middle;
  bottom: 0;
  margin-bottom: 15px;
  background: rgb(0, 0, 0); /* Fallback color*/ 
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 94%; /* Full width */
  max-height: 25%;
  font-size: 1em;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 95%;
    padding: 15px;
}

#Who-tile:hover, #What-tile:hover, #How-tile:hover, #Where-tile:hover {
  box-shadow: 0 3px 5px 3px #cccccc;
}

.panel-footer {
  margin-top: 25px;
  background-color:#a28b39;
  opacity:0.7;
  font-size: 14px;
  color:#000000;
  font-weight: bold;

}

#Copyright {
  padding-top: 1%;
  font-size: 12px;
  font-weight: bold;
}

#institution span, #appreciations span {
  font-size: 14px;
  font-weight: bold;
}

/*Secondary HTML page*/

.jumbotron, .jumbotron-fluid {
  max-height: 500px;
  margin-top: 25px;
  padding: 0px;
  align-content: center;
  object-position: center;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

#blog0 {
  text-align: center;
  font-size: 18px;
  color: white;
}

#blog1, #blog2, #blog3 {
  text-align: justify;
  font-size: 14px;
  color: #000000;
}

#jumbo, #blog_quote {
  background-color: rgba(0, 0, 0, 0.7);
}

/*End of whom HTML Page*/

/*Secondary HTML page*/

#main-content_ref {
  margin-top: 20px;
}

#bg1, #bg2 {
  margin-bottom: 0;
}

#bg2, #bg3 {
  margin-top: 0;
}

#bg1_text {
  text-align: justify;
  font-size: 14px;
  color: #000000;
}

#bg2_text {
  text-align: justify;
  font-size: 14px;
  color: #000000;
}

#bg3_text {
  text-align: justify;
  font-size: 14px;
  color: #000000;
}

/*End of whom HTML Page*/

/*Pagination Formatting*/

.pagination > li > a
{
    background-color: white;
    font-size: 16px;
    color: #a28b39;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 14px;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: white;
    background-color: #a28b39;
    border-color: rgba(0, 0, 0, 0.7);

}

.pagination > .active > a
{
    text-decoration: none !Important;
    background-color: #a28b39; !Important;
    border: none;
    border-color: #a28b39; !Important;
}

.pagination > .active > a:hover
{
    background-color: #a28b39; !Important;
    border: none;
    border-color: #a28b39; !Important; 
    color: black;
}

.page-item.active .page-link {
    z-index: 1;
    color: white;
    background-color: #a28b39;
    border-color: #a28b39;
 
}

/*End of Pagination Formatting*/

